aside {
    width: 35%;
}


aside > section {
    border-radius: 5px;
    margin: 16px 0;
    padding: 24px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: white;
}

aside svg {
    height: 25px;
    width: auto;
}

section > p.title {
    font-size: 0.75rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 4px;
}

section .actions {
    display: flex;
    margin-top: 16px; 
}

.actions #delete {
    margin-right: auto;
    display: flex;
    align-items: center;
}

button {
    padding: 6px 10px;
    border-radius: 8px;
    border: none;
    border: 1px solid grey;
    transition: scale 0.2s ease-in-out;
}

button:hover {
    scale: 1.1;
}

.actions #save {
    border: none;
    background-color: var(--blue);
    color: white;
    margin-left: 10px;
}

#submit {
    border: none;
    background-color: var(--blue);
    color: white;
    margin-left: auto;
}

aside form > div.field {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 8px 0;
}

form .dates {
    display: flex;
    gap: 16px;
}

form .dates input {
    width: 100%;
}

form label {
    font-size: 0.6rem;
    font-weight: 600;
}

form input {
    padding: 4px 10px;
    background-color: var(--grey);
    border-radius: 8px;
    border: none;
    height: 32px;
    margin-top: 8px;
}

form input:focus {
    outline: 2px solid var(--blue);
}