* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

:root {
  font-size: calc(0.8vh + 0.8vw);
  --yellow: rgb(255, 217, 0);
  --black: rgb(39, 39, 39);
  --grey: rgb(231, 231, 231);
  --blue: #3684D4;
}

div#root {
  padding: 1rem 10rem;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  gap: 20px;
  background-color: whitesmoke;
}