main {
    width: 65%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
}

div.cv {
    display: flex;
}

.cv>.side {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.cv .info {
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

.cv p.job {
    padding: 6px;
    background-color: var(--yellow);
    font-weight: 600;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 0.7rem;
    margin-top: 0;
    text-align: center;
    margin-top: 8px;
}

.cv .education {
    padding: 24px 36px;
    color: white;
}

.educ_record {
    margin-bottom: 16px;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    min-width: 170px;
}

.educ_record:hover,
.work_record:hover {
    background-color: rgba(250, 128, 114, 0.24);
}

.delete {
    height: 30px;
    position: absolute;
    top: 0;
    right: 4px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.educ_record svg,
.work_record svg {
    display: none;
    height: 20px;
    width: 20px;
}

.educ_record:hover svg,
.work_record:hover svg {
    display: block;
}

.educ_record p.course {
    font-size: 0.7rem;
    font-weight: 600;
}

.educ_record p.campus,
.education p.years {
    font-size: 0.6rem;
}

div.tag {
    height: 3px;
    width: 50px;
    background-color: var(--yellow);
    margin: 16px 0;
}

div.contact_details {
    background-color: var(--grey);
    padding: 32px 50px;
    display: grid;
    align-items: center;
    align-content: end;
    grid-template-columns: 40px auto;
    grid-template-rows: repeat(3, 50px);
    padding-bottom: 0;
    height: 100%;
}

.contact_details .icons {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 16px;
    width: 40px;
    height: 100%;
    align-items: center;
    background-color: var(--yellow);
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

.contact_details svg {
    height: 25px;
    width: 25px;
}

.contact_details .contact {
    grid-column: 2 / 3;
    margin-left: 10px;
}

.contact_details .contact:first-child {
    padding-top: 16px;
}

.contact .title {
    font-size: 0.6rem;
    font-weight: 600;
}

.contact .value {
    font-size: 0.6rem;
}

.main .profile {
    padding: 32px;
    background-color: var(--grey);
}

.main .profile .name {
    font-size: 2rem;
    font-weight: 500;
    color: var(--black);
    text-align: center;
}

.main .title {
    margin-top: 32px;
    font-size: 0.8rem;
    font-weight: bold;
}

.profile .brief {
    font-size: 0.7rem;
    overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 5; /* number of lines to show */
           line-clamp: 5; 
   -webkit-box-orient: vertical;
}

.main .work {
    padding: 0 32px;
}

.work_record {
    margin-top: 16px;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.work_record .role {
    font-size: 0.6rem;
    font-weight: bold;
}

.work_record .company {
    font-size: 0.6rem;
    font-weight: 600;
    margin-top: 8px;
}

.work_record span {
    padding: 4px 8px;
    font-size: 0.5rem;
    background-color: var(--yellow);
    font-weight: 700;
}

.work_record .description {
    font-size: 0.65rem;
    margin-top: 6px;
}

.main .interests {
    padding: 0 32px 100px 32px;
}

.interests ul {
    list-style: none;
    display: flex;
    gap: 16px;
    font-size: 0.6rem;
    font-weight: bold;
}

div.error {
    border: 1px solid red;
    border-radius: 10px;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(253, 173, 164);
    padding: 4px;
    font-weight: 600;
    color: rgb(255, 0, 0);
    margin-top: 10px;
    display: none;
}